.test-css{
	color: red;
}

.histo-view{
	width: 100%;
	height: 100%;
}

div > hr{
	margin-top: 5px;
	margin-bottom: 5px;
}

.match-container{
	width: 50%;
	margin-left : 25%;
}

.match-container-save{
	width: 1000px;
	margin-left : 25%;
}


.match-font{
	font-size: 1.3em;
	font-family: "Book Antiqua";
}

.match{
	position : relative;
	min-width : 400px;
	max-width: 640px;
	height: 67px;
	margin: 20px;
	border: solid 1px black;
	border-radius: 5px;
	
}

.toSave{
	margin-bottom: 50px;
}

.type{
	position : absolute;
	top: 12px;
	left : 3px;
	width : 40px;
	height : 40px;
	border-radius: 50%;
	box-shadow: -1px 2px 2px 1px rgba(150,150,150,0.5);
}

.typeToSave{
	position : absolute;
	top: 0px;
	left : 8px;
	
}

.switch{
	width: 50px;
	height: 25px;
}

.player{
	position : absolute;
	top: 3px;
	left : 150px;
	width : 50%
}
.date{
	position : absolute;
	top: 3px;
	left : 50px;
	width : 50%
}
.name {
	margin-bottom: 7px;
}
.scores{
	position : absolute;
	top: 3px;
	right : 3px;	
}
.set{
	float: left;
	min-width: 60px;
	text-align: center;
}
.points{
	position : relative;
	margin-bottom: 7px;
}
.withTieBreak > .points{
	padding-right: 10px;
}
.withTieBreak > .points > div {
	font-size : 0.7em;
	min-width: 30%;
	text-align: left;
	position: absolute;
	top:0;
	right:2px;
}
.win {
	font-weight : bold;
}
.separator {
	position: absolute;
	right: 5px; left : 155px;
	top: 30px;
	height: 1px;
	background-color: #ccc;
}

.matchIn{
	background-color: #4EC45A;
}

.matchOut{
	background-color: #DD6021;
}

.match-winner{
	font-size: 0.8em;
}


.set-to-save{
	width: 25px;
	height: 22px;
}

.button-save{
	width: 50px;
	margin-left: 650px;
	font-size: 2.3em;
}

.btn-save{
	width: 50px;
	height: 50px;
	font-size: 0.8em;
	padding: 8px 10px;
}

md-switch .md-bar{
	left: 1px;
	width: 45px;
	top: 5px;
	height: 20px;
	border-radius: 8px;
	position: absolute;
}

md-switch .md-thumb{
	position: absolute;
	margin: 0;
	left: 0;
	top: -5px;
	outline: none;
	height: 35px;
	width: 35px;
	border-radius: 50%;
}

md-datepicker .md-datepicker-input-container{
	opacity: 0;
}

/* DATE */

.HopeDate{
	position: relative;
	width: 60px;
	height: 50px;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
	border: solid 1px grey;
	box-shadow: 10px 5px 20px #ccc;
	text-align: center;
	text-transform: capitalize;
	margin-left: 10px;
	margin-top: 3px;
}

.headerDate{
	position: relative;
	padding: 0px 3px 3px 3px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	background-color: #ff9900;
}

.body{
	padding: 5px;
}

.month{
	font-size: 10px;
	color: black;
	font-weight: bold;
}

.year{
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	color: black;
	border-bottom: 2px #ff5522;
}

.day{
	font-size: 15px; 
	font-weight: bold;
	border-bottom: 2px dashed #ff5522;
}

.nameDate{
	font-size: 10px;
	color: #ff9900;
}



