.test-css{
	color: red;
}

.player-to-save{
	width: 200px;
	height: 23px;
	margin-left: 10px;
}

.serving-button{
	height: 23px;
}

#serve{
	width: 15px;
	height: 15px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	background: yellow;
	
}

.servePlayer1{
	position : absolute;
	top: 7px;
	right : 330px;
}

.servePlayer2{
	position : absolute;
	top: 39px;
	right : 330px;
}

.button-delete{
	width: 50px;
	margin-left: 5px;
	font-size: 2.3em;
}

.score-player1{
	position: absolute;
	width: 200px;
	margin-left: 500px;
	margin-top: -36px;
	font-size: 2.3em;
}


.score-player2{
	position: absolute;
	width: 200px;
	margin-left: 500px;
	margin-top: -36px;
	font-size: 2.3em;
}