<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/angular-bootstrap-toggle/dist/angular-bootstrap-toggle.min.css" />
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <link rel="stylesheet" href="bower_components/angularjs-datepicker/dist/angular-datepicker.min.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/histo.css">
    <link rel="stylesheet" href="styles/score.css">
    <!-- endbuild -->
  </head>
  <body ng-app="histoTennisApp">
   
    <div class="header">
       <nav id="navbar-header" class="navbar-inverse header-index navbar-static-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#!/">Tennis Stats</a>
          </div>
          <ul class="nav navbar-nav">
            <li><a href="#!/histo">Historique</a></li>
            <li><a href="#!/score">Score Live</a></li> 
          </ul>
          <ul class="nav navbar-nav navbar-right">
             <div ng-controller="MainCtrl" class="input-group">
             <input ng-model="password" class="admin" type="text" class="form-control" aria-describedby="basic-addon1">
             <button ng-click="checkAdmin()" type="button" class="btn btn-default button-admin">Admin</button>
         </div>
          </ul>
        </div>
      </nav>
    </div>

    <div class="container principal-container">
    <div ng-view=""></div>
    </div>

    <div class="footer">
      <div class="container">
        <p>Gaël Hopp</p>
      </div>
    </div>


  

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/amcharts/dist/amcharts/amcharts.js"></script>
    <script src="bower_components/amcharts-angular/dist/amChartsDirective.js"></script>
    <script src="bower_components/angular-bootstrap-toggle/dist/angular-bootstrap-toggle.min.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/ngDatepicker/src/js/ngDatepicker.js"></script>
    <script src="bower_components/angularjs-datepicker/dist/angular-datepicker.min.js"></script>
    <!-- endbower -->
    <script src="bower_components/amcharts/dist/amcharts/pie.js"></script>
<script src="bower_components/amcharts/dist/amcharts/serial.js"></script>
<script src="bower_components/amcharts/dist/amcharts/themes/light.js"></script>
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/score.js"></script>
        <script src="scripts/controllers/histo.js"></script>
        <script src="scripts/services/remoteservice.js"></script>
        <script src="scripts/services/matchservice.js"></script>
        <script src="scripts/services/statsservice.js"></script>
        
        <!-- endbuild -->






       
</body>
</html>
