<div>
  
  <div class="col-xs-6 col-md-6" style="height: 500px;">
        <am-chart id="totalVictories" class="chartElement" options="amChartOptionsTotalVictories"></am-chart>
  </div>

  <div class="col-xs-6 col-md-6" style="height: 500px;">
        <am-chart id="inOutVictories" class="chartElement" options="amChartOptionsInOutVictories"></am-chart>
  </div>


</div>

<div>
  
  <div class="col-xs-6 col-md-6" style="height: 500px;">
        <am-chart id="superTieBreakVictories" class="chartElement" options="amChartOptionsSBVictories"></am-chart>
  </div>

  <div class="col-xs-6 col-md-6" style="height: 500px;">
        <am-chart id="tieBreakVictories" class="chartElement" options="amChartOptionsTBVictories"></am-chart>
  </div>


</div>

<div>

  <div class="col-xs-3 col-md-3" style="height: 500px;">
        
  </div>
  
  <div class="col-xs-6 col-md-6" style="height: 500px;">
        <am-chart id="afterWonFirstSetVictories" class="chartElement" options="amChartOptionsAfterWonFirstSetVictories"></am-chart>
  </div>

  <div class="col-xs-3 col-md-3" style="height: 500px;">
        
  </div>


</div>